body{
	box-sizing: border-box;
	font-family: $PRIMARY-FONT;
	font-color: $BLACK;
	-webkit-font-smoothing: antialiased;
}


p{
	line-height: 1.5;
	font-weight: 400;
}

sub , sup {
	font-size:xx-small;
}

a {
	cursor: pointer;
}
