//COLORS
$LIGHT-GREY: #ecf2f4;
$GREY: #666666;
$BLACK: #222;
$WHITE: #FFFFFF;
$BLUE-FONT: #069;
$GREY-BORDER: #d8d8d8;
$TANGERINE-BORDER: #EE7D11;
$GREY-BACKGROUND: #f8f8f8;

//FONT-SIZES
$SIZE10: 10;
$SIZE11: 11;
$SIZE12: 12;
$SIZE14: 14;
$SIZE15: 15;
$SIZE16: 16;
$SIZE17: 17;
$SIZE20: 20;
$SIZE25: 25;
$SIZE30: 30;
$SIZE35: 35;
$SIZE40: 40;

//FONT-FAMILIY
$PRIMARY-FONT: "Source Sans Pro", arial, helvetica, sans-serif;
$COMPOSITION-HEADER: Lora,Palatino,Times,Times New Roman,serif;

